# Umami 统计
NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://你的umami地址/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=你的网站ID

# Sentry 错误监控
NEXT_PUBLIC_SENTRY_DSN=https://xxxxx@sentry.io/xxxxx
SENTRY_ORG=你的sentry组织名
SENTRY_PROJECT=你的sentry项目名